.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{
  width:1170px;
  gap:20px;
  margin: auto;
  display: flex;
}
form input{
  height: 30px;
  flex-basis: 80%;
}
form button{
  flex-basis: 20%;
}
.outerDiv{
  width:1170px;
  margin: auto;
}
.outerDiv ul{
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  list-style: none;
}
.outerDiv ul li{
   color:white;
  padding: 10px;
  font-size: 25px;
  text-align: left;
  background-color: rgb(180, 106, 131);
    margin-bottom: 20px;
}
.outerDiv ul li span{
 right: 5em;
  position: absolute;
  cursor:pointer;
}
.completetodo{
  text-decoration: line-through;
  background-color: rgb(228, 157, 171) !important ;
}


 .Heading{
  color: brown;
  font-weight: bolder;
 } 
